.header{
    height: 34vw;
    margin:30px auto;
    background: url('../../public/assets/landing.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-conten{
    position: absolute;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom:10%;
    left:6vw;
    animation: fadeIn 3s;

}
.header-conten h2{
    font-weight: 500;
    font-size: max(4.5vw,22px);
    text-align: left;
}
.header-conten p{
    text-align: left;
}
.header-conten button{
    border: none;
    color:#747474;
    font-weight: 500;
    margin-top: 20px;
    padding: 1vw 2.3vw;
    background-color: aliceblue;
    font-size: max(1vw,13px);
    border-radius: 50px;

}